<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<title>资源数据展示页面</title>

<script type="text/javascript" src="resources/vue.js"></script>

<script type="text/javascript" src="resources/axios_0.24.0.js"></script>
<script type="text/javascript" src="resources/jquery-1.10.2.min.js"></script>

<script type="text/javascript" src="resources/pnxclient.js"></script>
<script type="text/javascript" src="resources/signature.js"></script>
<!-- compatible IE -->
<script type="text/javascript" src="resources/browser.min.js"></script>
<script type="text/javascript" src="resources/polyfill.min.js"></script>

<link rel="stylesheet" type="text/css" href="resources/login.css" />
<style type="text/css">
span {
	display: inline-block;
	width: 512px;
	break
}

#result>div {
	border-bottom: 1px gray solid
}

.buttons {
	width: 100%;
	text-align: center;
    padding-top: 16px;
}

button {
	margin-right: 32px;
    width:128px;
}
</style>
</head>
<body>
    <div id="result">
        <div>
            <span>认证成功：</span>{{success}}
        </div>
        <div>
            <span>身份认证网关Token：</span>{{token}}
        </div>
        <div v-for="attr in attrs">
            <span>{{ attr.name }}：</span>{{ attr.value }}
        </div>
        <div v-if="success == 'false'">
                                 错误码：{{messageCode}}<br/>
                                 错误描述：{{messageDesc}}
        </div>
        <span class="buttons">
            <button v-on:click="clear()">删除local-storage</button>
            <button v-on:click="refresh()">再试试</button></span>
    </div>
</body>
<script type="text/javascript">
var example2 = new Vue({
    el : '#result',
    data : function () {
        return {
          success: null,
          token: null,
          messageCode: null,
          messageDesc :null,
          attrs: null,
        }
    },
    mounted : function() {
        var tk=localStorage.getItem('gateway_token');
        const headers = {
                'Content-Type': 'application/json',
                'gateway_token': tk,
              };
        axios.get('http://localhost/gateway-springboot/data',{headers})
          .then(function(resp){
              example2._data.success = resp.data.success;
              example2._data.token = resp.data.token;
              example2._data.attrs = resp.data.attributes;
              example2._data.messageCode = resp.data.messageCode;
              example2._data.messageDesc = resp.data.messageDesc;
          })
          .catch(function (error) { // 请求失败处理
              alert(error);
          });
    },
    // 在 methods 对象中定义方法
    methods : {
        clear: function(){
            localStorage.removeItem('gateway_token');
        },
        refresh:function(){
            window.location.reload();
        }
    }
});
</script>
</html>